* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 background-color: white;
}
.logo {
    display: block;
    margin: 0 auto;
}
/* START OF FORM-CONTAINER */
.form {
    display: block;
    margin: 0 auto;
    background-color: whitesmoke;
    box-shadow: -5px 9px 27px 5px #888888;
}

.form-control {
    font-weight: 700 !important;
    width: 50%;
    height: 100%;
    transition: 0.5s;
}
.form-control:hover {

    background-color: rgb(231, 99, 99);
    width: 100%;
}
.forgot-password-para{
    font-weight: bold;
    color: brown;
}
.forgot-password-link{
    font-weight: bold;
    color: brown;
    text-decoration: none;
}
.button-login:hover{
    background-color: blue !important;
}

.signup-link{
    text-decoration: none;
    color: brown;
    font-weight: bold;
}
.para{
    font-weight: bold;
}
.button-login:hover {
    background-color: rgb(231, 99, 99);
}
/* END OF FORM-CONTAINER */

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    .form{
        width: 100% !important;
    }
    
  }
  @media screen and (max-width: 425px) {
  .form-heading-five{
    font-size: 10px !important;
}
.forgot-password-link{
    font-size: 14px !important;
}
  }